* {
    font-family: Open Sans, sans-serif;
}

.header-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35444F;
    font-size: 15px;
}

.logo-container {
    padding: 20px 30px;
    display: inline-flex;
}

.link-logo {
    text-decoration: none;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 5px;
    font-size: 22px;
    line-height: 30px;
    padding-left: 20px;
}

.logo-text{
    display: inline-flex;
}

.search {
    justify-content: space-between;
    background: #000000;
    padding: 25px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    list-style-type: none;
    margin: 0;
    border: none;
}

.nav-item-last {
    border: none;
}

.nav-item-link {
    color: #FFFFFF;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-item-link:hover {
    color: #14B9D5;
}

.item-link-red:hover {
    color: #FF0000;
}

.architecture-header {
    display: flex;
}

.top-screen {
    width: 100%;
    background: url("../assets/architecture_img_header.jpeg") center;
    filter: brightness(0.7);
}

.top-screen-title {
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 0;
}

.nav-button {
    text-align: center;
}

.button {
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 15px 35px;
    margin-right: 20px;
}

.btn-blue {
    background: #14B9D5;
}

.btn-green {
    background: #89CA62;
}

.title-button {
    padding-top: 164px;
    padding-bottom: 74px;
}

.container-posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #F2F2F2;
    justify-content: center;
    padding-bottom: 50px;
}

.most {
    width: 100%;
}

.header-title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    padding: 50px;
}

.post {
    width: calc(58% / 3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.__img-house {
    width: 100%;
    height: 260px;
}

.__img-sunrise {
    width: 100%;
    height: 380px;
}

.__img-sunset {
    width: 100%;
    height: 247px;
}

.__img-stargaze {
    width: 100%;
    height: 290px;
}

.__img-france {
    width: 100%;
    height: 380px;
}

.img-post {
    padding-bottom: 30px;
}


.post__title {
    color: #353A3D;
    line-height: 25px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background: #FFFFFF;
}

a {
    text-decoration: none;
}

.top-screen-partners {
    width: 100%;
    background: url("../assets/architecture_img_parallax.jpeg") center;
    padding-top: 100px;
}

.header-partners {
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.header-partners::after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 3px solid #18B4CF;
    margin: 0 auto;
    padding-top: 90px;
}

.menu {
    display: grid;
    width: 880px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px;
    grid-gap: 50px;
    margin: auto;
    padding: 100px 0 200px;
}

.menu-item-img-post {
    width: 100%;
    padding-top: 10px;
}

.menu-item-img {
    width: 100%;
    height: 100%;
}

.top-rated {
    width: 100%;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    grid-auto-flow: column;
}

.gallery-item-photo {
    width: 100%;
    height: 190px;
}

.articles-block {
    display: grid;
    grid-auto-columns: min-content;
    justify-content: center;
    grid-gap: 60px;
    grid-template-areas: "articles-img1 articles-img1 articles-img1 articles-img2" "articles-img3 articles-img3 articles-img4 articles-img4" "articles-img5 articles-img5 articles-img6 articles-img6" "articles-img7 articles-img8 articles-img8 articles-img8"
}

.articles-img1 {
    display: flex;
    grid-area: articles-img1;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    padding-left: 10px;
}

.articles-img2 {
    grid-area: articles-img2;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    text-align: right;
}

.articles-img3 {
    grid-area: articles-img3;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.articles-img4 {
    grid-area: articles-img4;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.articles-img5 {
    grid-area: articles-img5;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.articles-img6 {
    grid-area: articles-img6;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.articles-img7 {
    grid-area: articles-img7;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    text-align: left;
}

.articles-img8 {
    grid-area: articles-img8;
    display: flex;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.articles-img-text1 {
    padding: 20px 24px 20px 0;
}

.articles-img-text2 {
    padding-right: 14px;
}


.header-text2 {
    padding: 11px 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.header-text-block {
    padding: 40px 24px 40px 0;
}

.header-text {
    font-weight: bold;
    color: #353A3D;
    text-align: right;
    font-size: 18px;
    line-height: 25px;
    margin: 12px 0 15px 0;
}

.text {
    color: #5B6469;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.footer-nav-item {
    width: 100%;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 45% 35%);
    grid-template-rows: 80px;
    background: #000000;
}


.footer-text {
    padding: 30px 0;
    font-size: 13px;
    line-height: 13px;
    align-items: center;
    color: #FFFFFF;
    display: grid;
    text-align: end;
}

.logo-footer {
    text-align: right;
    padding-top: 30px;
}